{{> nav}}

<div class="wel-container">
    {{#if first_name}}
    <p class="welcome-back">Welcome back, {{first_name}}!</p>
    {{/if}}

</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-10">
            <div id="map"></div>
        </div>
    </div>
</div>


{{#if foodPostings.[0].address}}
<div>
    <h1 class="available-food">Available Food</h1>
</div>

<div class="food-posting-wrapper">
    <ul>
        {{#each foodPostings}}
        <li class="food-list-one">
            <div>
                <h2 class="food-type-header">{{this.food_types}}</h2>
            </div>
            <h5 class="address-color"><em>{{this.address}}</em></h5>
            <div>
                <h5 class="allergens-title">Allergens:</h5>
                <p class="allergens-title"><strong>{{this.allergens}}</strong></p>
                <h5 class="extra-food-color">Extra info about this food:</h5>
                <p>{{this.comment}}</p>
                <div>
                    <h5 class="extra-food-color">This food will be available:</h5>
                    <p><em>{{format_time this.start_time}} </em><span>-</span> {{format_time this.end_time}}</p>
                </div>
            </div>
        </li>
        {{/each}}
    </ul>
</div>



{{else}}
<h2>There are no available food postings at this time. Check back in for updated postings!</h2>
{{/if}}

<footer>
</footer>
<script src="/js/googlemap.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{API_KEY}}&callback=initMap&v=weekly" defer></script>