{{> nav}}

<div>

    {{#if first_name}}
    <p>Welcome back {{first_name}}</p>
    {{/if}}

    <div id="title">LEFTOVERS &trade;</div>
    <p id="mission-statement">Solving World Hunger Daily</p>
    
</div>
<div id="map"></div>

{{#if foodPostings.[0].address}}
<div>
    <h1>Available Food Postings:</h1>
</div>

<div>
<ol>
{{#each foodPostings}}
<li><h3>{{this.food_types}}</h3>
<h4>Allergens:</h4>
<p>{{this.allergens}}</p>
<p>{{this.address}}</p>
<h5>This food will be available for pick up starting at:</h5>
<p>{{this.start_time}}</p>
<h5>This food will no longer be available for pick up at:</h5>
<p>{{this.end_time}}</p>
<h6>Extra info about this food:</h6>
<p>{{this.comment}}</p>
</li>
{{/each}}
</ol>
</div>



{{else}}
<h2>There are no available food postings at this time. Check back in for updated postings!</h2>
{{/if}}

<footer>
</footer>
<script src="/js/googlemap.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{API_KEY}}&callback=initMap&v=weekly" defer></script>
